.page-content{

  

  padding-top: 120px;

  min-height: 100vh;

  background-color: black;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  align-items: flex-start;
}

.login-container{

  width: 420px;

  background-color: #111;

  padding: 40px;

  border-radius: 20px;

  border: 1px solid #222;

  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 20px;

  box-shadow: 0 0 20px rgba(0,255,136,0.1);
}

.login-container h1{

  color: #00ff88;

  font-size: 56px;

  margin-bottom: 10px;
}

.login-container form{

  width: 100%;

  display: flex;

  flex-direction: column;

  gap: 18px;
}

.login-container input{

  width: 100%;

  padding: 14px;

  border: none;

  outline: none;

  border-radius: 10px;

  background-color: #222;

  color: white;

  font-size: 16px;
}

.login-container input::placeholder{

  color: #aaa;
}

.login-container button{

  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 10px;

  background-color: red;

  color: white;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.login-container button:hover{

  transform: scale(1.03);

  background-color: #ff2222;
}

.guest-btn{

  background-color: #222 !important;
}

.signup-btn{

  background-color: #00ff88 !important;

  color: black !important;
}