.premium-heading{
  color: #00ff88;

  text-align: center;

  margin-bottom: 40px;

  font-size: 42px;
}

.premium-container{
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;
}

.premium-card{
  background-color: #111;

  border-radius: 15px;

  overflow: hidden;

  border: 1px solid #222;

  transition: 0.3s;
}

.premium-card:hover{
  transform: translateY(-10px);
}

.premium-card img{
  width: 100%;

  height: 220px;

  object-fit: cover;
}

.premium-card h2{
  color: white;

  padding: 20px 20px 10px;
}

.premium-card p{
  color: #cfcfcf;

  padding: 0 20px 20px;

  line-height: 1.6;
}

.premium-card button{
  margin: 0 20px 20px;

  padding: 12px 24px;

  border: none;

  border-radius: 8px;

  background-color: red;

  color: white;

  cursor: pointer;

  transition: 0.3s;
}

.premium-card button:hover{
  background-color: #00ff88;

  color: black;
}